@font-face { font-family: NyushuFengQi; src: url('Assets/NyushuFengQi-1.003.ttf'); } 
@font-face { font-family: XinYuGongHeXieSong; src: url('Assets/XinYuGongHeXieSong-B2.ttf'); } 
.styled-text {
    height: 210mm;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 10px 0px 0px 9px;
    font-family: NyushuFengQi;
}

/* Style for 1 character */
.styled-text.one-character {
    position: relative;
    left: -55px;
    padding-top: 560px;
    padding-left: -345px;
    font-size: 500px;
}

/* Style for 2 characters */
.styled-text.two-characters {
    padding-top: 280px;
    position: relative;
    left: -175px;
    letter-spacing: 350px;
    font-size: 250px;
}

/* Style for 3 characters */
.styled-text.three-characters {
    padding-top: 205px;
    position: relative;
    left: -220px;
    letter-spacing: 230px;
    font-size: 150px;
}

/* Style for 4 characters */
.styled-text.four-characters {
    padding-top: 150px;
    position: relative;
    left: -235px;
    letter-spacing: 180px;
    font-size: 110px;
}

/* Style for 5 characters */
.styled-text.five-characters {
    padding-top: 120px;
    position: relative;
    left: -245px;
    letter-spacing: 145px;
    font-size: 85px;
}

/* Style for 6 characters */
.styled-text.six-characters {
    padding-top: 105px;
    position: relative;
    left: -255px;
    letter-spacing: 120px;
    font-size: 75px;
}

/* Style for 7 characters */
.styled-text.seven-characters {
    padding-top: 100px;
    position: relative;
    left: -230px;
    letter-spacing: 100px;
    font-size: 60px;
    line-height: 125px;
}


/* Style for 28 characters */
.styled-text.twenty-eight-characters {
    padding-top: 100px;
    position: relative;
    left: -45px;
    letter-spacing: 100px;
    font-size: 60px;
    line-height: 125px;
}

#outcontainer{
    width: 148mm;
    height: 210mm;
}

#border{
    position: relative;
    left: 0px;
    width: 148mm;
    height: 210mm;
    border: 1.5px solid black;
}

.background {
    position: absolute;
    width: 100%;
    height: 107px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #BF0000 -45.33%, #FFFFFF 34.58%);
}

.title {
    font-family: XinYuGongHeXieSong;
    position: relative;
    left: 35px;
    top: 60px;
    font-size: 130%;
    color: #000000;
}

.textbut {

    position: relative;
    width: 380px;
    height: 50px;
    left: 35px;
    top: 100px;
    text-align: left;
    padding-left: 12px;

    font-family: XinYuGongHeXieSong;
    font-style: normal;
    font-weight: 600;
    font-size: 130%;

    color: #000000;
    border: #000000 1.5px solid;

}

.inputoutbox {
    box-sizing: border-box;

    position: relative;
    width: 380px;
    height: 345px;
    left: 35px;
    top: 98px;

    background: #FFFFFF;
    border: 1.5px solid #000000;
}

#run {
    box-sizing: border-box;

    position: relative;
    width: 130px;
    height: 35px;
    left: 35px;
    top: 135px;

    background: linear-gradient(0deg, #F5F5F5 50%, #BF0000 482.76%);
    border: 1px solid #000000;
    font-family: XinYuGongHeXieSong;
    font-size: 130%;
    border: 1.5px solid #000000;
}

#inputText {

    box-sizing: border-box;

    position: relative;
    width: 353px;
    height: 176px;
    left: 12px;
    top: 24px;
    border: 1.5px solid #000000;
}

.outputcollection{
    position: absolute;
    left: 500px;
    top: 130px;
}

.inputname {
    position: relative;
    left: 12px;
    top: 12px;
    font-family: XinYuGongHeXieSong;
    font-style: normal;
    font-weight: 600;
    font-size: 130%;
    color: #000000;
}