@font-face { font-family: NyushuFengQi; src: url('Assets/NyushuFengQi-1.003.ttf'); } 
.styled-text {
    height: 210mm;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 10px 0px 0px 9px;
    font-family: NyushuFengQi;
}

/* Style for 1 character */
.styled-text.one-character {
    position: relative;
    left: -55px;
    padding-top: 560px;
    padding-left: -345px;
    font-size: 500px;
}

/* Style for 2 characters */
.styled-text.two-characters {
    padding-top: 280px;
    position: relative;
    left: -175px;
    letter-spacing: 350px;
    font-size: 250px;
}

/* Style for 3 characters */
.styled-text.three-characters {
    padding-top: 205px;
    position: relative;
    left: -220px;
    letter-spacing: 230px;
    font-size: 150px;
}

/* Style for 4 characters */
.styled-text.four-characters {
    padding-top: 150px;
    position: relative;
    left: -235px;
    letter-spacing: 180px;
    font-size: 110px;
}

/* Style for 5 characters */
.styled-text.five-characters {
    padding-top: 120px;
    position: relative;
    left: -245px;
    letter-spacing: 145px;
    font-size: 85px;
}

/* Style for 6 characters */
.styled-text.six-characters {
    padding-top: 105px;
    position: relative;
    left: -255px;
    letter-spacing: 120px;
    font-size: 75px;
}

/* Style for 7 characters */
.styled-text.seven-characters {
    padding-top: 100px;
    position: relative;
    left: -230px;
    letter-spacing: 100px;
    font-size: 60px;
    line-height: 125px;
}


/* Style for 28 characters */
.styled-text.twenty-eight-characters {
    padding-top: 100px;
    position: relative;
    left: -45px;
    letter-spacing: 100px;
    font-size: 60px;
    line-height: 125px;
}

#outcontainer{
    width: 148mm;
    height: 210mm;
}

#border{
    position: relative;
    left: 0px;
    width: 148mm;
    height: 210mm;
    border: 1px solid black;
}

#button {
    position: relative;
    z-index: 1;
}
