@font-face { font-family: NyushuFengQi; src: url('Assets/NyushuFengQi-1.003.ttf'); } 
@font-face { font-family: XinYuGongHeXieSong; src: url('Assets/XinYuGongHeXieSong-B2.ttf'); } 

body{
    height: 770px;
    overflow-x: hidden;
}

.styled-text {
    height: 2480px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 10px 0px 0px 9px;
    font-family: NyushuFengQi;
}

/* Style for 1 character */
.style1-0column {
    position: relative;
    left: -135px;
    padding-top: 1810px;
    font-size: 1600px;
}

.style1-1column {
    position: relative;
    left: -135px;
    padding-top: 1810px;
    font-size: 1600px;
}

.style1-2column {
    position: relative;
    left: -60px;
    padding-top: 1710px;
    font-size: 1300px;
    letter-spacing: 3000px;
    line-height: 800px;
}

/* Style for 2 characters */
.style2-0column {
    padding-top: 990px;
    position: relative;
    left: -500px;
    letter-spacing: 1100px;
    font-size: 850px;
}

.style2-2column {
    padding-top: 990px;
    position: relative;
    left: -285px;
    letter-spacing: 1100px;
    font-size: 850px;
    line-height: 600px;
}

/* Style for 3 characters */
.style3-0column {
    padding-top: 675px;
    position: relative;
    left: -630px;
    letter-spacing: 750px;
    font-size: 550px;
}

.style3-1column {
    padding-top: 675px;
    position: relative;
    left: -620px;
    letter-spacing: 750px;
    font-size: 550px;
}

.style3-2column {
    padding-top: 675px;
    position: relative;
    left: -90px;
    letter-spacing: 750px;
    font-size: 550px;
    line-height: 800px;
}

.style3-3column {
    padding-top: 675px;
    position: relative;
    left: -90px;
    letter-spacing: 750px;
    font-size: 550px;
    line-height: 525px;
}

.style3-4column {
    padding-top: 660px;
    position: relative;
    left: -70px;
    letter-spacing: 750px;
    font-size: 480px;
    line-height: 405px;
}

/* Style for 4 characters */
.style4-0column {
    padding-top: 505px;
    position: relative;
    left: -705px;
    letter-spacing: 580px;
    font-size: 410px;
}

.style4-1column {
    padding-top: 505px;
    position: relative;
    left: -705px;
    letter-spacing: 580px;
    font-size: 410px;
}

.style4-2column {
    padding-top: 505px;
    position: relative;
    left: -85px;
    letter-spacing: 580px;
    font-size: 410px;
    line-height: 800px;
}

.style4-3column {
    padding-top: 505px;
    position: relative;
    left: -85px;
    letter-spacing: 580px;
    font-size: 410px;
    line-height: 522px;
}

.style4-4column {
    padding-top: 505px;
    position: relative;
    left: -85px;
    letter-spacing: 580px;
    font-size: 410px;
    line-height: 392px;
}

.style4-5column {
    padding-top: 505px;
    position: relative;
    left: -85px;
    letter-spacing: 580px;
    font-size: 410px;
    line-height: 313px;
}

/* Style for 5 characters */
.style5-0column {
    padding-top: 430px;
    position: relative;
    left: -730px;
    letter-spacing: 450px;
    font-size: 305px;
}

.style5-1column {
    padding-top: 430px;
    position: relative;
    left: -730px;
    letter-spacing: 450px;
    font-size: 305px;
}

.style5-2column {
    padding-top: 430px;
    position: relative;
    left: -560px;
    letter-spacing: 450px;
    font-size: 305px;
}

.style5-3column {
    padding-top: 430px;
    position: relative;
    left: -140px;
    letter-spacing: 450px;
    font-size: 305px;
    line-height: 500px;
}

.style5-4column {
    padding-top: 430px;
    position: relative;
    left: -70px;
    letter-spacing: 450px;
    font-size: 305px;
    line-height: 400px;
}

.style5-5column {
    padding-top: 430px;
    position: relative;
    left: -70px;
    letter-spacing: 350px;
    font-size: 305px;
    line-height: 320px;
}

.style5-6column {
    padding-top: 430px;
    position: relative;
    left: -70px;
    letter-spacing: 350px;
    font-size: 305px;
    line-height: 270px;
}

.style5-8column {
    padding-top: 430px;
    position: relative;
    left: -560px;
    letter-spacing: 450px;
    font-size: 305px;
}


/* Style for 6 characters */
.style6-0column {
    padding-top: 370px;
    position: relative;
    left: -745px;
    letter-spacing: 375px;
    font-size: 235px;
}

.style6-1column {
    padding-top: 370px;
    position: relative;
    left: -745px;
    letter-spacing: 375px;
    font-size: 235px;
}

.style6-2column {
    padding-top: 370px;
    position: relative;
    left: -240px;
    letter-spacing: 375px;
    font-size: 235px;
    line-height: 650px;
}

.style6-3column {
    padding-top: 370px;
    position: relative;
    left: -160px;
    letter-spacing: 375px;
    font-size: 235px;
    line-height: 480px;
}

.style6-4column {
    padding-top: 370px;
    position: relative;
    left: -75px;
    letter-spacing: 375px;
    font-size: 235px;
    line-height: 400px;
}

.style6-5column {
    padding-top: 370px;
    position: relative;
    left: -75px;
    letter-spacing: 375px;
    font-size: 235px;
    line-height: 320px;
}

.style6-6column {
    padding-top: 370px;
    position: relative;
    left: -75px;
    letter-spacing: 375px;
    font-size: 235px;
    line-height: 265px;
}

.style6-7column {
    padding-top: 370px;
    position: relative;
    left: -75px;
    letter-spacing: 375px;
    font-size: 235px;
    line-height: 227px;
}

/* Style for 7 characters */
.style7-0column {
    padding-top: 320px;
    position: relative;
    left: -790px;
    letter-spacing: 320px;
    font-size: 180px;
}

.style7-1column {
    padding-top: 320px;
    position: relative;
    left: -790px;
    letter-spacing: 320px;
    font-size: 180px;
}

.style7-2column {
    padding-top: 335px;
    position: relative;
    left: -90px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 800px;
}

.style7-3column {
    padding-top: 325px;
    position: relative;
    left: -65px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 540px;
}

.style7-4column {
    padding-top: 335px;
    position: relative;
    left: -80px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 400px;
}
.style7-4column {
    padding-top: 335px;
    position: relative;
    left: -80px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 400px;
}

.style7-4column {
    padding-top: 335px;
    position: relative;
    left: -80px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 400px;
}

.style7-5column {
    padding-top: 335px;
    position: relative;
    left: -80px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 320px;
}

.style7-6column {
    padding-top: 335px;
    position: relative;
    left: -80px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 265px;
}

.style7-7column {
    padding-top: 335px;
    position: relative;
    left: -80px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 230px;
}

.style7-8column {
    padding-top: 335px;
    position: relative;
    left: -80px;
    letter-spacing: 320px;
    font-size: 60px;
    font-size: 180px;
    line-height: 200px;
}

/* Style for 8 characters */
.style8-0column {
    padding-top: 290px;
    position: relative;
    left: -800px;
    letter-spacing: 285px;
    font-size: 160px;
}

.style8-1column {
    padding-top: 290px;
    position: relative;
    left: -800px;
    letter-spacing: 285px;
    font-size: 160px;
}

.style8-2column {
    padding-top: 290px;
    position: relative;
    left: -185px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 700px;
}

.style8-3column {
    padding-top: 290px;
    position: relative;
    left: 5px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 600px;
}

.style8-5column {
    padding-top: 290px;
    position: relative;
    left: -85px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 320px;
}

.style8-6column {
    padding-top: 290px;
    position: relative;
    left: -85px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 268px;
}

.style8-7column {
    padding-top: 290px;
    position: relative;
    left: -85px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 227px;
}

.style8-8column {
    padding-top: 290px;
    position: relative;
    left: -85px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 200px;
}

.style8-9column {
    padding-top: 290px;
    position: relative;
    left: -185px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 700px;
}

/* Style for 8 characters */
.style8-4column {
    padding-top: 290px;
    position: relative;
    left: -85px;
    letter-spacing: 285px;
    font-size: 160px;
    line-height: 400px;
}

/* Style for 9 characters */
.style9-0column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-1column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-2column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-3column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-4column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-5column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-6column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-7column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-8column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-9column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

.style9-10column {
    padding-top: 260px;
    position: relative;
    left: -810px;
    letter-spacing: 255px;
    font-size: 135px;
}

/* Style for 10 characters */
.style10-0column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-1column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}
.style10-2column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-3column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-4column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-5column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-6column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-7column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-8column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-9column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-10column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

.style10-11column {
    padding-top: 250px;
    position: relative;
    left: -810px;
    letter-spacing: 225px;
    font-size: 120px;
}

#outcontainer{
    width: 1748px;
    height: 2480px;
    background-color: #fff;

}

#border{
    position: relative;
    left: 0px;
    width: 1748px;
    height: 2480px;
}

.background {
    position: absolute;
    width: 100%;
    height: 107px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #BF0000 -45.33%, #FFFFFF 34.58%);
}

.title {
    cursor: default;
    font-family: XinYuGongHeXieSong;
    position: relative;
    left: 35px;
    top: 50px;
    font-size: 90%;
    color: #000000;
}

.countainer {
    width: 100%;
}

.about {
    font-family: XinYuGongHeXieSong;
    position: absolute;
    right: 40px;
    top: 58px;
    font-size: 90%;
    color: #000000;
    opacity: 50%;
    cursor: pointer;
}

.about:hover {
    opacity: 100%;
}

.textbut {

    position: relative;
    width: 300px;
    height: 40px;
    left: 35px;
    top: 80px;
    text-align: left;
    padding-left: 12px;

    font-family: XinYuGongHeXieSong;
    font-style: normal;
    font-weight: 600;
    font-size: 90%;

    color: #000000;
    border: #000000 1.3px solid;

}

.inputoutbox {
    box-sizing: border-box;

    position: relative;
    width: 300px;
    height: 420px;
    left: 35px;
    top: 79px;

    background: #FFFFFF;
    border: 1.3px solid #000000;
}

#run {
    cursor:pointer;
    box-sizing: border-box;

    position: relative;
    width: 110px;
    height: 30px;
    left: 35px;
    top: 95px;

    background: linear-gradient(0deg, #F5F5F5 50%, #BF0000 482.76%);
    border: 1px solid #000000;
    font-family: XinYuGongHeXieSong;
    font-size: 90%;
    border: 1.3px solid #000000;
}

#inputText {
    box-sizing: border-box;
    position: relative;
    width: 273px;
    height: 176px;
    left: 12px;
    top: 24px;
    border: 1.3px solid #000000;
    padding: 10px;
    resize: none;
}

.outputcollection{
    position:fixed;
    left: 45%;
    top: 105px;
    transform: scale(0.23); /* Shrink by 70% */
    transform-origin: 0 0; /* Maintain top-left origin */
    border: 1.3px solid #000000;
    display: none;
}

.outputcollection.expanded{
    transform: scale(0.23); /* Shrink by 70% */
    transform-origin: 0 0; /* Maintain top-left origin */
}

.inputname {
    position: relative;
    left: 12px;
    top: 12px;
    font-family: XinYuGongHeXieSong;
    font-style: normal;
    font-weight: 600;
    font-size: 90%;
    color: #000000;
}

.note {
position: relative;
width: 268px;
height: 60px;
left: 13px;
top: 32px;

font-family: XinYuGongHeXieSong;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
color: rgba(0, 0, 0, 0.5);
}

#button {
    cursor:pointer;
    position: absolute;
    top: 60px;
    left: 60px;
    width: 20%;
    height: 6%;
    font-size: 290%;
    z-index: 1;
    font-family: XinYuGongHeXieSong;
    border: 1.3px solid black;
}

.textbut02 {

    position: relative;
    width: 300px;
    height: 40px;
    left: 35px;
    top: 78px;
    text-align: left;
    padding-left: 12px;

    font-family: XinYuGongHeXieSong;
    font-style: normal;
    font-weight: 600;
    font-size: 90%;

    color: #000000;
    border: #000000 1.3px solid;

}

.basicbox {
    box-sizing: border-box;

    position: relative;
    width: 300px;
    height: 80px;
    left: 35px;
    top: 77px;
    padding: 15px;

    background: #FFFFFF;
    border: 1.3px solid #000000;
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

input[type="radio"] {
    appearance: none;
    background-color: #fff; /* White background by default */
    margin: 0;
    color: currentColor;
    width: 1.00em;  /* Example size, adjust as needed */
    height: 1.00em; /* Example size, adjust as needed */
    border: 0.10em solid currentColor; /* Solid border */
    border-radius: 0%; /* Circle shape */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

input[type="radio"]:checked {
    background-color: black; /* Black background when checked */
}

input[type="radio"]:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow on focus */
}

.normal-text{
    height: 2480px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 10px 0px 0px 9px;
    font-family: NyushuFengQi;
    position: relative;
    top:80px;
    letter-spacing: 245px;
    font-size: 130px;
    padding-top: 65px;
    line-height: 150px;
    left: -70px;
}

.firstopt {
    cursor:pointer;
    padding-left: 3px;;
    padding-right: 10px;
    text-decoration: underline;;
}

.firstopt:hover::after {
    content: '';
    position: absolute;
    width: 87px;
    height: 124px;
    background-image: url('Assets/nyushu1.png'); /* Path to your image */
    background-size: cover; /* Cover the area of the pseudo-element */
    left: 60%; /* Position the image to the right of the element */
    top: 0; /* Align it to the top of the element */
    background-color: #fff;
    border: 1px solid black;
    z-index: 1;
}

.secondopt {
    cursor:pointer;
    padding-left: 3px;;
    text-decoration: underline;;
}

.secondopt:hover::after {
    content: '';
    position: absolute;
    width: 87px;
    height: 124px;
    background-image: url('Assets/nyushu2.png'); /* Path to your image */
    background-size: cover; /* Cover the area of the pseudo-element */
    left: 60%; /* Position the image to the right of the element */
    top: 0; /* Align it to the top of the element */
    background-color: #fff;
    border: 1px solid black;
    z-index: 1;
}

.backgroundtext {
    cursor: default;
    top:13%;
    position: absolute;
    left: 45%;
    letter-spacing: 600px;
    font-size: 200px;
    line-height: 300px;
    font-family: NyushuFengQi;
    opacity: 0.2;
}

.aboutpage {
    cursor: default;
    overflow-y:auto;
    position: absolute;
    width: 300px;
    height: 80%;
    right: 40px;
    top: 105px;
    border: 1px solid #000000;
    background: #FFFFFF;
}

.abouttext {
    margin: 15px;
    font-family: 'Noto Sans SC';
    font-style: normal;
}

